In [1]:
import numpy as np
import pandas as pd

In [3]:
one = pd.read_csv('1.csv')
two = pd.read_csv('2.csv')
three = pd.read_csv('3.csv')
four = pd.read_csv('4.csv')
five = pd.read_csv('5.csv')
six = pd.read_csv('6.csv')
seven = pd.read_csv('7.csv')
eight = pd.read_csv('8.csv')
nine = pd.read_csv('9.csv')

In [14]:
one.shape

(188, 8)

In [15]:
two.shape

(655, 8)

In [16]:
three.shape

(94, 8)

In [17]:
four.shape

(922, 8)

In [18]:
five.shape

(67, 8)

In [19]:
six.shape

(160, 8)

In [20]:
seven.shape

(26, 8)

In [21]:
eight.shape

(1848, 8)

In [22]:
nine.shape

(315, 8)

In [23]:
one.shape[0] + two.shape[0] + three.shape[0] + four.shape[0] + five.shape[0] + six.shape[0] + seven.shape[0] + eight.shape[0] + nine.shape[0]

4275

In [31]:
fst = pd.read_csv('Kaggle Notebook Tier Dataset.csv')
fst.shape

(4275, 9)

In [32]:
rest = pd.concat([one,two,three,four,five,six,seven,eight,nine]).reset_index(drop = True)
rest.shape

(4275, 8)

In [60]:
df = pd.concat([fst,rest],axis = 1)
df.to_csv('Kaggle Notebook Tier Data.csv',index = False)

In [59]:
df.loc[np.random.randint(1,df.shape[0])]

Name                                        mihir paghdal
Rank                                                 1134
Level                                              expert
Link                  https://www.kaggle.com/mihirpaghdal
Gold                                                    0
Silver                                                  3
Bronze                                                  4
Points                                                 90
Joined                                         a year ago
Country                        Mumbai, Maharashtra, India
Total Competitions                                      2
Total Datasets                                          1
Total Codes                                             7
Total Discussions                                      71
Highest Rank                                          661
Current Rank                                         1141
Current Level                            Notebooks Expert
Name: 1133, dtype: object

# DataFrame

In [116]:
df = pd.read_csv("(Final) Kaggle Notebook Tier Data.csv")
df.head()

,Name,Rank,Level,Link,Gold,Silver,Bronze,Points,Joined,Country,Total Competitions,Total Datasets,Total Codes,Total Discussions,Highest Rank,Current Rank,Current Level
0,Chris Deotte,1,grandmaster,https://www.kaggle.com/cdeotte,71,17,3,"4,949",5 years ago,"San Diego, California, United States",53.0,103.0,93,"7,910",NaN,1.0,Competitions Grandmaster
1,Marília Prata,2,master,https://www.kaggle.com/mpwolke,12,39,448,"3,614",4 years ago,"Rio de Janeiro, State of Rio de Janeiro, Brazil",21.0,227.0,"1,820","18,274",NaN,2.0,Discussion Grandmaster
2,Abhishek Thakur,3,grandmaster,https://www.kaggle.com/abhishek,65,28,24,"3,176",12 years ago,"Stavanger, Rogaland, Norway",229.0,106.0,137,"2,305",1.0,3.0,Competitions Grandmaster
3,AmbrosM,4,grandmaster,https://www.kaggle.com/ambrosm,28,8,8,"2,739",a year ago,NaN,14.0,2.0,44,634,NaN,4.0,Notebooks Grandmaster
4,Y.Nakama,5,grandmaster,https://www.kaggle.com/yasufuminakama,37,9,6,"2,629",5 years ago,"Tokyo, Tokyo, Japan",65.0,20.0,55,400,4.0,5.0,Competitions Grandmaster

In [117]:
df.Country.replace('NA',np.nan,inplace = True)

In [118]:
df[['City','State','Country']] = df.Country.str.split(',',expand= True)
df.Country = df.Country.str.strip()

In [128]:
df

,Name,Rank,Level,Link,Gold,Silver,Bronze,Points,Joined,Country,Total Competitions,Total Datasets,Total Codes,Total Discussions,Highest Rank,Current Rank,Current Level,City,State
0,Chris Deotte,1,grandmaster,https://www.kaggle.com/cdeotte,71,17,3,"4,949",5 years ago,United States,53.0,103.0,93,"7,910",NaN,1.0,Competitions Grandmaster,San Diego,California
1,Marília Prata,2,master,https://www.kaggle.com/mpwolke,12,39,448,"3,614",4 years ago,Brazil,21.0,227.0,"1,820","18,274",NaN,2.0,Discussion Grandmaster,Rio de Janeiro,State of Rio de Janeiro
2,Abhishek Thakur,3,grandmaster,https://www.kaggle.com/abhishek,65,28,24,"3,176",12 years ago,Norway,229.0,106.0,137,"2,305",1.0,3.0,Competitions Grandmaster,Stavanger,Rogaland
3,AmbrosM,4,grandmaster,https://www.kaggle.com/ambrosm,28,8,8,"2,739",a year ago,NaN,14.0,2.0,44,634,NaN,4.0,Notebooks Grandmaster,NaN,NaN
4,Y.Nakama,5,grandmaster,https://www.kaggle.com/yasufuminakama,37,9,6,"2,629",5 years ago,Japan,65.0,20.0,55,400,4.0,5.0,Competitions Grandmaster,Tokyo,Tokyo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4270,shubh24,4271,expert,https://www.kaggle.com/shubh24,0,0,9,1,8 years ago,None,10.0,NaN,15,52,50.0,4297.0,Notebooks Expert,Singapore,None
4271,Ben Watson,4272,expert,https://www.kaggle.com/benwatson,0,0,5,0,11 years ago,Canada,NaN,NaN,8,10,44.0,4298.0,Notebooks Expert,Ottawa,Ontario
4272,udit,4273,expert,https://www.kaggle.com/uditsaini,0,0,5,0,9 years ago,NaN,35.0,2.0,63,16,4259.0,4299.0,Notebooks Expert,NaN,NaN
4273,VirgoData,4274,expert,https://www.kaggle.com/virgodata,0,0,5,0,5 years ago,Pakistan,3.0,1.0,5,14,97.0,4300.0,Notebooks Expert,Lahore,Punjab
4274,MHA,4275,expert,https://www.kaggle.com/hamzaashraf,0,0,5,0,5 years ago,None,5.0,NaN,6,4,99.0,4301.0,Competitions Expert,Pakistan,None

In [148]:
df[(df.Country == 'Pakistan') & (df['Current Level'] == 'Datasets Grandmaster')]

Empty DataFrame
Columns: [Name, Rank, Level, Link, Gold, Silver, Bronze, Points, Joined, Country, Total Competitions, Total Datasets, Total Codes, Total Discussions, Highest Rank, Current Rank, Current Level, City, State]
Index: []

In [158]:
df[df.Name == 'Zeeshan-ul-hassan Usmani']['Current Level'].loc[1247]

'Datasets Grandmaster'

In [163]:
len(df.columns)

19