In [220]:
import pandas as pd

# Pandas - Reading and Writing Data in Text Format

In [159]:
# Pandas features a number of functions for reading tabular data as a DataFrame
# object. Table 6-1 summarizes some of them, though read_csv and read_table are
# likely the ones you’ll use the most.
# Visit table 6-1 Python For Data Analysis By Wes Mckinney book pg # 167

# Handling dates and other custom types can require extra effort. Let’s start with a small comma-separated (CSV) text file:

!type ex1.csv

# Since this is comma-delimited, we can use read_csv to read it into a DataFrame:
df = pd.read_csv('ex1.csv')
print(df)

# We could also have used read_table and specified the delimiter:
df = pd.read_table('ex1.csv',sep = ',') # or we can use delimiter both are same.
print(df)

# A file will not always have a header row. Consider this file:
df = pd.read_csv('ex2.csv',sep = ',',header=None) # it is by default set to 'infer' which means it will pick the first row of
# text file as column labels.
print(df)
# if you want to set the names of columns, you can use names parameter.
df = pd.read_csv('ex2.csv',sep = ',',names=['a','b','c','d','e'])
print(df)

# Suppose you wanted the message column to be the index of the returned DataFrame.
# You can either indicate you want the column at index 4 or named 'message' using
# the index_col argument:
df = pd.read_csv('ex1.csv',index_col=['message'])
print(df)

# In the event that you want to form a hierarchical index from multiple columns, pass a list of column numbers or names:
# Hierarchical indexing (AKA multiindexes) , means we can use multiple columns as index of DataFrame.
df = pd.read_csv('ex3.csv',index_col=['key1','key2']) # here we are using 'message' and 'a' columns as indexes of a DataFrame.
print(df)

# The parser functions have many additional arguments to help you handle the wide
# variety of exception file formats that occur (see a partial listing in Table 6-2). For
# example, you can skip the first, third, and fourth rows of a file with skiprows:
!type ex4.csv
df = pd.read_csv('ex4.csv',skiprows=[0,2,3])
print(df)

# Handling missing values is an important and frequently nuanced part of the file pars‐
# ing process. Missing data is usually either not present (empty string) or marked by
# some sentinel value. By default, pandas uses a set of commonly occurring sentinels, such as NA and NULL:
# means while reading a file if pandas found NA or NULL in any row or any column it will set it to NaN and NA and NULL must be
# in Capital case.
!type ex5.csv
df = pd.read_csv('ex5.csv')
print(df)
print(pd.isnull(df))

# The na_values(Sequence of values to replace with NA.) option can take either a list or set of strings
# to consider missing values:

df = pd.read_csv('ex5.csv',na_values=[12,'world']) # here i have passed 12 and world that later will replace with NaN.
print(df)

# Table 6-2 lists some frequently used options in pandas.read_csv and pandas.read_table.
# Visit table 6-2 Python For Data Analysis By Wes Mckinney book pg # 172

  something  a   b     c    d message
0       one  1   2   3.0  4.0     NaN
1       two  5   6   NaN  8.0     NaN
2     three  9  10  11.0  NaN     foo

# Pandas - Reading Text Files in Pieces

In [226]:
# When processing very large files or figuring out the right set of arguments to cor‐
# rectly process a large file, you may only want to read in a small piece of a file or iterate 
# through smaller chunks of the file.
movie = pd.read_csv(r'Data Sets\Movies Kaggle .csv')
# Before we look at a large file, we make the pandas display settings more compact:
pd.options.display.max_rows = 10 # this will set the display settings to max 10 rows(Which is by default btw). we can change 
# the value whatever we want. Also we can change the columns settings like rows.
pd.options.display.max_columns = 6
# Now we have:
movie

,budget,genres,homepage,...,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,...,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,...,Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,...,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,...,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,...,John Carter,6.1,2124
...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,...,El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,...,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,...,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,...,My Date with Drew,6.3,16

In [228]:
# If you want to only read a small number of rows (avoiding reading the entire file), specify that with nrows:
movie1 = pd.read_csv(r'Data Sets\Movies Kaggle .csv',nrows = 7 )
movie1

,budget,genres,homepage,...,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,...,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,...,Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,...,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,...,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,...,John Carter,6.1,2124
5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,...,Spider-Man 3,5.9,3576
6,260000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://disney.go.com/disneypictures/tangled/,...,Tangled,7.4,3330

In [246]:
# To read a file in pieces, specify a chunksize as a number of rows:
f = pd.read_csv('Data Sets\Chunking_Data.csv',delimiter='|',chunksize=3) # this will return text parser object which allows
# us to iterate over the parts of the file according to the chunksize. 
# here chunksize = 3 means this will give 3 rows in first iteration and then in second iteration this will return next
# 3 rows and so on..................................
print(f)
for chunk in f:
    print(chunk)

# another method to do the same is, using iterator parameter , we can set iterator parameter to True and after which the 
# read_csv will return same text parser object as it retuned above, and to get chunk values we will use get_chunk method and 
# need to pass chunksize after which it will return the chunked values.
f1 = pd.read_csv('Data Sets\Chunking_Data.csv',delimiter='|',iterator=True) # by default iterator is False
print(f1)
print(f1.get_chunk(3))
print(f1.get_chunk(3))
print(f1.get_chunk(3))
print(f1.get_chunk(3))

<pandas.io.parsers.TextFileReader object at 0x0000023662A13AC8>
   Unnamed: 0         0         1         2         3
0           0  0.469112 -0.282863 -1.509059 -1.135632
1           1  1.212112 -0.173215  0.119209 -1.044236
2           2 -0.861849 -2.104569 -0.494929  1.071804
   Unnamed: 0         0         1         2         3
3           3  0.721555 -0.706771 -1.039575  0.271860
4           4 -0.424972  0.567020  0.276232 -1.087401
5           5 -0.673690  0.113648 -1.478427  0.524988
   Unnamed: 0         0         1         2         3
6           6  0.404705  0.577046 -1.715002 -1.039268
7           7 -0.370647 -1.157892 -1.344312  0.844885
8           8  1.075770 -0.109050  1.643563 -1.469388
   Unnamed: 0         0       1         2         3
9           9  0.357021 -0.6746 -1.776904 -0.968914
<pandas.io.parsers.TextFileReader object at 0x0000023662A13160>
   Unnamed: 0         0         1         2         3
0           0  0.469112 -0.282863 -1.509059 -1.135632
1           1  1.212112 -0.173215  0.119209 -1.044236
2           2 -0.861849 -2.104569 -0.494929  1.071804
   Unnamed: 0         0         1         2         3
3           3  0.721555 -0.706771 -1.039575  0.271860
4           4 -0.424972  0.567020  0.276232 -1.087401
5           5 -0.673690  0.113648 -1.478427  0.524988
   Unnamed: 0         0         1         2         3
6           6  0.404705  0.577046 -1.715002 -1.039268
7           7 -0.370647 -1.157892 -1.344312  0.844885
8           8  1.075770 -0.109050  1.643563 -1.469388
   Unnamed: 0         0       1         2         3
9           9  0.357021 -0.6746 -1.776904 -0.968914

# Pandas - Writing Data to Text Format

In [54]:
# Data can also be exported to a delimited format. Let’s consider one of the CSV file read before:
data = pd.read_csv('ex5.csv')
print(data)
!type ex5.csv

# Using DataFrame’s to_csv method, we can write the data out to a comma-separated file:
data.to_csv('firstw.csv') # here my var data has all the data stored of ex5.csv and i have used var data(which is now a DF) to 
print()
# write into non-existing file named 'firstw.csv'.
# print(pd.read_csv('firstw.csv'))
!type firstw.csv

# Other delimiters can be used, of course
print()
data.to_csv('secondw.csv',sep = '|')
!type secondw.csv

# Missing values appear as empty strings in the output. You might want to denote them by some other sentinel value:
print()
data.to_csv('thirdw.csv',na_rep = 'NULL' )
!type thirdw.csv

# With no other options specified, both the row and column labels are written. Both of these can be disabled:
print()
data.to_csv('fourthw.csv',na_rep = 'NULL' , index = False , header = False)
!type fourthw.csv

# You can also write only a subset of the columns, and in an order of your choosing:
print()
data.to_csv('fifthw.csv',na_rep = 'NULL' , index = False , columns = ['a','b','d'])

# Series also has a to_csv method:
print()
dates = pd.date_range('16/08/2020',periods=10)
dr = pd.Series(dates)
print(dr)
dr.to_csv('DateRange.csv') # in this way we can write our data into csv file and we can use dataframe as well.
!type DateRange.csv

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo
something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

one,1,2,3.0,4,NULL
two,5,6,NULL,8,world
three,9,10,11.0,12,foo


0   2020-08-16
1   2020-08-17
2   2020-08-18
3   2020-08-19
4   2020-08-20
5   2020-08-21
6   2020-08-22
7   2020-08-23
8   2020-08-24
9   2020-08-25
dtype: datetime64[ns]
,0
0,2020-08-16
1,2020-08-17
2,2020-08-18
3,2020-08-19
4,2020-08-20
5,2020-08-21
6,2020-08-22
7,2020-08-23
8,2020-08-24
9,2020-08-25

# Pandas - Working with Delimited Formats

In [137]:
import csv

In [148]:
# It’s possible to load most forms of tabular data from disk using functions like pan
# das.read_table. In some cases, however, some manual processing may be necessary.
# It’s not uncommon to receive a file with one or more malformed lines that trip up
# read_table. To illustrate the basic tools, consider a small CSV file:
with open('ex6.csv') as f:
    for line in f:
        print(line)
        
# if i read this file using read_csv , this will convert string data to integer.
print()
f = pd.read_csv('ex6.csv')
print(f)
print(f.loc[1].dtype)

# so if my data has multiple dtypes in it so using csv module is beneficial.

"a","b","c"

"1","2","3"

"1","2","3"

2,4,6

8,10,12


   a   b   c
0  1   2   3
1  1   2   3
2  2   4   6
3  8  10  12
int64

# Pandas - JSON Data

In [213]:
# JSON (short for JavaScript Object Notation) has become one of the standard formats
# for sending data by HTTP request between web browsers and other applications. It is
# a much more free-form data format than a tabular text form like CSV. Here is an example:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
 {"name": "Katie", "age": 38,
 "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""
print(type(obj)) # this will return str because the obj variable holds a dictionary.

# JSON is very nearly valid Python code with the exception of its null value null and
# some other nuances (such as disallowing trailing commas at the end of lists). The
# basic types are objects (dicts), arrays (lists), strings, numbers, booleans, and nulls. All
# of the keys in an object must be strings. There are several Python libraries for reading
# and writing JSON data. I’ll use json here, as it is built into the Python standard
# library. To convert a JSON string to Python form, use json.loads:
import json
result = json.loads(obj)
print(result,type(result)) 

# json.dumps, on the other hand, converts a Python object back to JSON:
asjson = json.dumps(result)
print(asjson,type(asjson)) # type here is str again bc dump has converted the file.

# How you convert a JSON object or list of objects to a DataFrame or some other data
# structure for analysis will be up to you. Conveniently, you can pass a list of dicts
# (which were previously JSON objects) to the DataFrame constructor and select a sub‐
# set of the data fields:
my_df = pd.DataFrame(result['siblings'])
print(my_df)
my_df = pd.DataFrame(result['siblings'],columns=['name','age'])
print(my_df)

# The pandas.read_json can automatically convert JSON datasets in specific arrange‐
# ments into a Series or DataFrame. For example:
!type first.json
# The default options for pandas.read_json assume that each object in the JSON array is a row in the table:
r = pd.read_json('first.json')
print(r)

<class 'str'>
{'name': 'Wes', 'places_lived': ['United States', 'Spain', 'Germany'], 'pet': None, 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']}, {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]} <class 'dict'>
{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]} <class 'str'>
    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]
    name  age
0  Scott   30
1  Katie   38
[{"a": 1, "b": 2, "c": 3},
{"a": 4, "b": 5, "c": 6},
{"a": 7, "b": 8, "c": 9}]
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

# Pandas - Binary Data Formats

In [224]:
# One of the easiest ways to store data (also known as serialization) efficiently in binary
# format is using Python’s built-in pickle serialization. pandas objects all have a
# to_pickle method that writes the data to disk in pickle format.
frame = pd.read_csv('ex1.csv')
print(frame)

frame.to_pickle('frame_pickle')
# You can read any “pickled” object stored in a file by using the built-in pickle directly,
# or even more conveniently using pandas.read_pickle:
pd.read_pickle('frame_pickle')

# pickle is only recommended as a short-term storage format. The
# problem is that it is hard to guarantee that the format will be stable
# over time; an object pickled today may not unpickle with a later
# version of a library. We have tried to maintain backward compati‐
# bility when possible, but at some point in the future it may be nec‐
# essary to “break” the pickle format.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo