In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
import warnings
warnings.filterwarnings('ignore')
sns.set_style('dark')

In [5]:
df = pd.read_csv('housepricesbigsample.csv') 
df

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [6]:
df['Bedrooms'][2] = np.round(df['Bedrooms'].mean())

In [7]:
df

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [8]:
reg = linear_model.LinearRegression()
reg.fit(df[['Area','Bedrooms','Age']],df['Price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [9]:
reg.predict([[4000,5,8]])

array([757551.08840515])

In [10]:
reg.predict([[2600,3,20]])

array([542163.48289649])

In [11]:
reg.predict([[2000,2,50]])

array([193611.72812084])

In [18]:
from sklearn.externals import joblib

In [19]:
joblib.dump(reg,'House Price Predictor')

['House Price Predictor']

In [21]:
model = joblib.load('House Price Predictor')

In [22]:
model.predict([[2000,2,50]])

array([193611.72812084])