In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('adult.data.csv')

In [5]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [406]:
races,counts = np.unique(df['race'],return_counts=True)
race_counts = pd.Series(counts,index = races)
race_counts = race_counts.tolist()

In [ ]:
[27816, 3124, 1039, 311, 271]

In [62]:
np.mean(df.age[df.sex == 'Male'])

39.43354749885268

In [264]:
np.round((len(df.education[df.education == 'Bachelors']) / len(df.education)) * 100,1)

16.4

In [77]:
np.round((len(df.salary[df.salary == '>50K']) / len(df.salary))*100)

24.0

In [265]:
df.education[((df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate')) 
                   & df.salary[df.salary == '>50K']]

8          Masters
9        Bachelors
11       Bachelors
19         Masters
20       Doctorate
25       Bachelors
45       Bachelors
53       Bachelors
63       Doctorate
72       Bachelors
89       Doctorate
94       Bachelors
96       Doctorate
100        Masters
101      Bachelors
123      Bachelors
125      Bachelors
135        Masters
164        Masters
174      Bachelors
189      Doctorate
197        Masters
198        Masters
202      Bachelors
206      Bachelors
215      Bachelors
237      Bachelors
238        Masters
240      Bachelors
285        Masters
           ...
32266      Masters
32267      Masters
32287    Doctorate
32307    Bachelors
32311      Masters
32318    Bachelors
32326    Doctorate
32341    Bachelors
32347    Bachelors
32365      Masters
32371    Bachelors
32399    Bachelors
32419    Bachelors
32429    Doctorate
32438      Masters
32449      Masters
32455    Bachelors
32457      Masters
32458    Bachelors
32464    Bachelors
32480      Masters
32504      Masters
32513      Masters
32530    Bachelors
32532    Doctorate
32533    Bachelors
32536    Bachelors
32538    Bachelors
32539    Doctorate
32554      Masters
Name: education, Length: 3486, dtype: object

In [285]:
len(df.education[((df.education == 'Bachelors') 
              | (df.education == 'Masters') 
              | (df.education == 'Doctorate'))])

7491

In [318]:
np.round((len(df.education[((df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate')) & df.salary[df.salary == '>50K']]) / len(df.education[((df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate'))]) )*100,1)

46.5

### What percentage of people without advanced education make more than 50K?

In [328]:
len(df.education[((df.education != 'Bachelors') 
              & (df.education != 'Masters') 
              & (df.education != 'Doctorate')) ])

25070

In [330]:
np.round((len(df.education[((df.education != 'Bachelors') 
              & (df.education != 'Masters') 
              & (df.education != 'Doctorate')) 
             & df.salary[df.salary == '>50K']]) / 25070 )*100,1)

17.4

In [125]:
np.min(df['hours-per-week'])

1

### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [331]:
len(df['hours-per-week'][(df['hours-per-week'] == 1)])

20

In [245]:
len(df['hours-per-week'][(df['hours-per-week'] == 1) & df.salary[df.salary == '>50K']])

2

In [334]:
(len(df['hours-per-week'][(df['hours-per-week'] == 1) & df.salary[df.salary == '>50K']]) / 20) * 100

10.0

### What country has the highest percentage of people that earn >50K and what is that percentage?

In [371]:
p = (df[q2]['native-country'].value_counts() / df['native-country'].value_counts() * 100).sort_values(ascending=False)

# highest_earning_country = p.index[0]
# highest_earning_country_percentage = round(p.iloc[0], 1)
# highest_earning_country_percentage , highest_earning_country

In [395]:
val= (df['native-country'][df.salary == '>50K'].value_counts() / df['native-country'].value_counts()) *100
m = val.sort_values(ascending = False).index[0]

41.86046511627907

In [250]:
val , count = np.unique(df['native-country'][df.salary == '>50K'],return_counts=True)
hp = pd.Series(val,index=count)
np.round((max(hp.index) / len(df['native-country']))*100)

22.0

In [335]:
val , count = np.unique(df['native-country'][df.salary == '>50K'],return_counts=True)
hp = pd.Series(val,index=count)
# hp[max(hp.index)]
hp

146                      ?
7                 Cambodia
39                  Canada
20                   China
2                 Columbia
25                    Cuba
2       Dominican-Republic
4                  Ecuador
9              El-Salvador
30                 England
12                  France
44                 Germany
8                   Greece
3                Guatemala
4                    Haiti
1                 Honduras
6                     Hong
3                  Hungary
40                   India
18                    Iran
5                  Ireland
25                   Italy
10                 Jamaica
24                   Japan
2                     Laos
33                  Mexico
2                Nicaragua
2                     Peru
61             Philippines
12                  Poland
4                 Portugal
12             Puerto-Rico
3                 Scotland
16                   South
20                  Taiwan
3                 Thailand
2          Trinadad&Tobago
7171         United-States
5                  Vietnam
6               Yugoslavia
dtype: object

### Identify the most popular occupation for those who earn >50K in India.

In [261]:
val,count = np.unique(df.occupation[(df.salary == '>50K') & (df['native-country'] == 'India')],return_counts=True)
hp = pd.Series(val,index=count)
hp[max(hp.index)]

'Prof-specialty'

In [403]:
df[(df['native-country'] == 'India') & (df.salary == '>50K')] / df['occupation'].value_counts().index[0]

TypeError: Could not operate 'Prof-specialty' with block values unsupported operand type(s) for /: 'int' and 'str'