In [46]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
import warnings
warnings.filterwarnings('ignore')

In [47]:
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [48]:
company = LabelEncoder()
job = LabelEncoder()
degree = LabelEncoder()

In [49]:
df['company'] = company.fit_transform(df.company)
df['job'] = job.fit_transform(df.job)
df['degree'] = degree.fit_transform(df.degree)

In [50]:
x = df.drop('salary_more_then_100k',axis=1)

In [51]:
y = df['salary_more_then_100k']

In [52]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,train_size = 0.8)

In [53]:
df.head(10)

   company  job  degree  salary_more_then_100k
0        2    2       0                      0
1        2    2       1                      0
2        2    0       0                      1
3        2    0       1                      1
4        2    1       0                      0
5        2    1       1                      1
6        0    2       1                      0
7        0    1       0                      0
8        0    0       0                      0
9        0    0       1                      1

In [55]:
model = DecisionTreeClassifier()
model.fit(xtrain,ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [56]:
model.predict([[0,0,1]])

array([1], dtype=int64)

In [58]:
model.predict(xtest)

array([1, 0, 0, 1], dtype=int64)

In [59]:
model.score(xtest,ytest)

0.75